.wikidata-postedit-notification{
    position:fixed;
    padding: 10px;
    top: 37%;
    right: 0%;
    width:130px;
    z-index: 999;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1.5625em;
    color: #626465;
    /* @embed */
    background: #f3fff4; /* Old browsers */
    background: -moz-linear-gradient(top, #f3fff4 0%, #e2ffe2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3fff4), color-stop(100%,#e2ffe2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f3fff4 0%,#e2ffe2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f3fff4 0%,#e2ffe2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f3fff4 0%,#e2ffe2 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f3fff4 0%,#e2ffe2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3fff4', endColorstr='#e2ffe2',GradientType=0 ); /* IE6-9 */
    border: 1px solid #6CAF6C;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 5px 0 #ccc;
    -moz-box-shadow: 0 2px 5px 0 #ccc;
    box-shadow: 0 2px 5px 0 #ccc;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
